body{
    background-color: rgb(187, 221, 250);
}
main{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 512px;
    width: 762px;
    margin: auto;
}